{{#each question}}
<div class="post-content">
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
</div>
<form action="/posts/{{this._id}}" method="post" accept-charset="utf-8">
    <label for="title">Submit an answer</label>
    <input type="text" name="answer" id="answer">
    <input type="submit" value="Submit answer">
</form>
<div class="comments">
    <h2>Comments</h2>
    <ul class="answers">
        {{#each this.answers}}
        <li class='answer'>{{this}}</li>
        {{/each}}
    </ul>
    <form action="/posts/{{this._id}}/delete" method="post">
        <input class="delete" type="submit" value="Delete question">
    </form>
    {{/each}}
</div>