{{#each question}}
<h1>{{this.title}}</h1>
<p>{{this.description}}</p>
<form action="/posts/{{this._id}}" method="post" accept-charset="utf-8">
    <label for="add">Add an answer</label>
    <input type="text" name="answer" id="answer">
    <input type="submit" value="Submit answer">
</form>
<ul class="answers">
    {{#each this.answers}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<form action="/posts/{{this._id}}/delete" method="post">
    <input type="submit" value="Delete question">
</form>
{{/each}}